$default-font-color: #000;
$background-color: rgb(66, 159, 221);
$container-bgColor: rgb(220, 220, 220);
$container-borderColor: black;
$textBox-borderColor: lightgray;
$button-textColor: white;
$button-hoverColor: black;
$add-button-color: rgb(80, 235, 80);
$clear-button-colo: rgb(213, 100, 100);


@mixin mq($size) {
    @media only screen and (min-width: $size) {
        @content;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 16;
    font-family: 'Lato', sans-serif;
    color: $default-font-color;
    width: 100%;
    min-height: 100%;

    @include mq(768px) {
        font-size: 22px;
    }
}

body {
    padding: 20px;
    background-color: $background-color;
}

section {
    background-color: $container-bgColor;
    width: 90%;
    max-width: 700px;
    margin: auto;
    border: 1px solid $container-borderColor;
    border-radius: 10px;
    padding: 10px;
}